$color-red: #c2060e;
$color-navy: #160E41;
$color-white: #ffffff;
$color-text: #333333;
$color-black: #000000;
$color-white-trans: rgba(255, 255, 255, 0.1);
$color-white-trans2: rgba(255, 255, 255, 0.3);
$color-vlight-grey: #eeeeee;
$color-light-grey: #555555;
$color-shaded: #dddddd;

// left-bar (app) color
$color-dark-gray: #22262E;

$color-button3d: #3498DB;
$color-button3d-shadow: #2980B9;
$color-button3d-text-shadow: #2980B9;

$color-basic-blue: #3B7B7B;
$color-light-blue: #C0EFD2;
$test: #E25858;
$test-dark: #FFFFDD;

$color-dark-bg: #1B1E24;

$color-positive: #3D9949;
$color-negative: #9E3333;

$font-base: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-common: Helvetica, Arial, sans-serif;

// Reset buttons

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
