{% extends "app/content.html" %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <div class="content-box img-rounded light-border" style="background-color: #ffffff;">
            <div class="container-fluid" style="padding: 0 40px 0 40px;">

                <div class="row" style="text-align: left;">
                    <h2 style="display: inline-block;">Add new set from file</h2>{% include "app/management/handy_menu.html" %}

                    <h4>List of set files</h4>
                    <table class="table table-striped">
                        {% for k1, v1 in sets.items %}
                            <tr><td>{{k1}}</td><td>
                                <table class="table table-striped">
                                    {% for k2, v2 in v1.items %}
                                        <tr><td>{{k2}}</td><td>
                                            <ul>
                                                {% for filename, path in v2.items %}
                                                        <li>
                                                            <a href="{% url 'management:add_set' path %}">{{filename}}</a>
                                                        </li>
                                                {% endfor %}
                                            </ul>
                                        </td></tr>
                                    {% endfor %}
                                </table>
                            </td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
