
<div class="dropdown" style="display: inline;">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <!-- Dropdown -->
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{% url 'management:index' %}">Index</a></li>
      <li><a href="{% url 'management:sets' %}">Sets</a></li>
      <li><a href="{% url 'management:status' %}">Status</a></li>
  </ul>
</div>
