{% extends "app/content.html" %}

{% load thumbnail %}

{% block main %}

<div class="row">
<div class="col-md-12">
<div class="content-box img-rounded light-border" style="background-color: #ffffff;">
<div class="container-fluid" style="padding: 0 40px 20px 40px;">

<div class="row" style="text-align: left;">
    <h2 style="display: inline-block;">Import diff</h2>
    {% include "app/management/handy_menu.html" %}
    <h4>The same: {{the_same}} Not the same: {{not_the_same}}</h4>
    <h5>{{ds.pair}}</h5>
    <h5>Clean: <b>{{clean|length}}</b> Susp: <b>{{susp|length}}</b></h5>

    {% if error %}
        <b>{{error}}</b>
    {% endif %}

    <form method="post" action="{% url 'management:save_diff' ds.id %}" class="form-horizontal">
        {% csrf_token %}

    <table class="table table-striped">
        <tr>
            <th style="text-align: center;">
                <input id="selectall" type="checkbox" checked>
            </th>
            <th colspan="2" style="text-align: center;">Local</th>
            <th colspan="2" style="text-align: center;">Remote</th>
        </tr>
        <tr>
            <th></th>
            <th style="text-align: center;">Base</th>
            <th style="text-align: center;">Target</th>
            <th style="text-align: center;">Base</th>
            <th style="text-align: center;">Target</th>
        </tr>
        {% for line in data %}
            {% if line.result < 1.0 %}
            <tr>
                <td style="text-align: center;">
                    <input
                        class="data checkbox save"
                        name="checked"
                        value="{{line.id}}"
                        type="checkbox"
                        checked>
                </td>
                <td>
                    {{line.lbase}}
                </td>
                {% if line.result == 1.0 %}
                    <td>
                {% elif line.result >= 0.80 %}
                    <td title="{{line.result}}" style="background-color: #CFF09E;">
                {% elif line.result >= 0.60 %}
                    <td title="{{line.result}}" style="background-color: #FFE545;">
                {% elif line.result >= 0.40 %}
                    <td title="{{line.result}}" style="background-color: #FF8A00;">
                {% else %}
                    <td title="{{line.result}}" style="background-color: #FF003C;">
                {% endif %}
                    {{line.ltarget}}
                </td>
                <input type="hidden" name="new_{{line.id}}_base" value="{{line.ebase}}" />
                <input type="hidden" name="new_{{line.id}}_target" value="{{line.etarget}}" />
                <td>{{line.ebase}}</td>
                {% if line.result == 1.0 %}
                    <td>
                {% elif line.result >= 0.80 %}
                    <td title="{{line.result}}" style="background-color: #CFF09E;">
                {% elif line.result >= 0.60 %}
                    <td title="{{line.result}}" style="background-color: #FFE545;">
                {% elif line.result >= 0.40 %}
                    <td title="{{line.result}}" style="background-color: #FF8A00;">
                {% else %}
                    <td title="{{line.result}}" style="background-color: #FF003C;">
                {% endif %}
                    {{line.etarget}}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
<button type="submit" class="btn btn-primary" name="save" value="save">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
