{% load partition %}
{% load i18n %}

<div class="modal fade modal-fix" id="modal-report-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-round">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color: #000000;" id="modal-login-header">{% trans "Report an error" %}</h4>
      </div>
      <div class="modal-body">

        <div style="display: none;" id="form-report-alert-success" class="alert alert-success">{% trans "Message was sent. Thank you, we'll take necessary action and inform you of the results" %}</div>
        <div style="display: none;" id="form-report-alert-failure" class="alert alert-danger">{% trans "Unfortunately message could not be sent. Sorry, please try again later" %}</div>
        <div style="display: none;" id="form-report-alert-too_short" class="alert alert-danger">{% trans "Message field cannot be empty" %}</div>

        <div id="form-report-error-div">
            {% csrf_token %}
            <div class="form-group form-text">
                <input name="username" type="text" class="form-control" id="form-report-error-username" placeholder="{% trans 'Enter username' %}">
            </div>

            <input type="hidden" name="dataset_id" id="form-report-error-dataset_id" value="{{data.dataset_id}}" />

            <div class="form-group">
              <textarea class="form-control" id="form-report-error-text" rows="3" name="text" placeholder="{% trans 'Say what is wrong' %}"></textarea>
            </div>

      <div class="modal-footer"><button id="form-report-error-submit" type="submit" class="btn btn-default btn-submit">{% trans "Send" %}</button></div>
      </div>

  </div>
      </div>
    </div>
  </div>
</div>
