{% load partition %}
{% load i18n %}

<div class="modal fade modal-fix" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-round">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color: #000000;" id="modal-login-header">{% trans "contact" %}</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'core:send_email' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="contact-name" name="name" placeholder="{% trans 'ph_your_name' %}">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="contact-email" name="email" placeholder="{% trans 'ph_your_email' %}">
        </div>

        <div class="form-group form-text">
            <input name="username" type="text" class="form-control" id="contat-username" placeholder="{% trans 'ph_your_username' %}">
        </div>

        <div class="form-group">
          <textarea class="form-control" rows="3" name="text" placeholder="{% trans 'ph_your_message' %}"></textarea>
        </div>

      </div>
      <div class="modal-footer"><button type="submit" class="btn btn-default btn-submit">{% trans "btn_send" %}</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
