/* Links */
.modal-body a, .info-block a,
.modal-body a:focus, .info-block a:focus,
.modal-body a:active, .info-block a:active{
    color: $color-text;
    border-bottom: 1px solid $color-light-blue;
}

.modal-body a:hover, .info-block a:hover{
    color: $color-text;
    text-decoration: none;
    border-bottom: 1px solid $color-red;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

.btn {
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}

.round{
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/* Top level menu for an unlogged user */
.navbar-transparent{
    background-color: transparent;
    border-width: 0;
}

#navbar-unlogged {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: $color-navy;
}

ul.nav > li.dropdown > ul.dropdown-menu > li > a{
    font-family: $font-common;
    text-transform: none;
}

ul.nav > li.page-scroll > a, ul.nav > li.dropdown > a{
    color: $color-navy;
}

ul.nav > li.page-scroll > a:hover, ul.nav > li.dropdown > a:hover{
    color: $color-red;
}

ul.nav > li.page-scroll > a:focus, ul.nav > li.dropdown > a:focus{
    outline: 0;
}

#navbar-unlogged .navbar-nav {
    letter-spacing: 1px;
}

#navbar-unlogged .navbar-nav li a:focus {
    outline: 0;
}

.absolute-center-bottom{
    position: absolute;
    bottom: 5%;
    left: 49%;
}

.absolute-bottom{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.jumbotron{
    background-color: transparent;
}
.jumbotron h1, h2, h3{
    color: black;
}

h2.static{
    color: $color-black;
    font-family: $font-base;
}

.xxlarge{
    font-size: 48px;
    font-weight: bold;
}

.xlarge{
    font-size: 32px;
}
.large{
    font-size: 26px;
}

.color-white{
    color: $color-white;
}

#intro-header {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: $color-navy;
}

.btn-transparent {
    color: $color-white;
    background-color: transparent;
    border-width: 0;
    font-size: 30px;
}
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:hover{
    border-width: 0;
    color: $color-white;
    background-color: transparent;
}

.btn-transparent-filled {
    color: $color-red;
    background-color: transparent;
    border-width: 0;
    font-size: 30px;
}
.btn-transparent-filled:active,
.btn-transparent-filled:focus,
.btn-transparent-filled:hover{
    border-width: 0;
    color: $color-red;
    background-color: transparent;
}


.btn-normal {
    color: $color-white;
    background-color: $color-navy;
}
.btn-normal:active,
.btn-normal:focus,
.btn-normal:hover{
    color: $color-white;
    background-color: $color-red;
}

/*
    Landing page parallax sections
*/

.text-section{
    background-color: $color-white;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}

.photo-section{
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 200px 0;
}

#second-section {
    // background: #ffffff 50% 0 fixed;
    background: $color-light-blue 50% 0 fixed;
    // padding: 350px 0;
}

#modal-login{
    overflow:hidden;
}

.modal-round{
    -webkit-border-radius: 1.8em;
    -moz-border-radius: 1.8em;
    border-radius: 1.8em;
}

.btn-submit{
    font-family: $font-base;
    color: $color-white;
    background-color: $color-red;
    font-size: 16px;
    border-width: 0;
}

.btn-submit:hover{
    background-color: $color-navy;
    color: $color-white;
    border-width: 0;
}


.info-block{
    min-height: 200px;
    background-color: #ffffff;
    padding: 20px;
}

#links-collection a,
#links-collection a:focus, #links-collection a:active{
    color: $color-white;
    font-family: $font-base;
}


// Change language box

.smooth-links a{
    display: block;
    white-space: nowrap;
    text-align: left;
    padding: 4px;
    font-family: $font-base;
    color: $color-text;
    text-decoration: none;
    border: 0;
}
.smooth-links a:hover{
    background-color: $color-vlight-grey;
    border: 0;
}

.small-print{
    font-size: 11px;
    color: $color-shaded;
    font-family: $font-base;
    margin-top: 20px;
}

.link-item {
    padding-right: 6px;
}

.form-text{
    display: none;
}

.flag-border{
    border: 1px solid #ccc;
}

// Landing page menu

div.menu-container {
    width: 800px;
    height: 450px;
    background-color: $color-white;
    // background-color: #76D3DE;
    display: inline-block;
    padding: 25px;
    text-align: left;
}

.menu-container h1 {
    color: $color-navy;
    font-family: $font-base;
}
