$color-red: #c2060e;
$color-navy: #160E41;
$color-white: #ffffff;
$color-text: #333333;
$color-black: #000000;
$color-white-trans: rgba(255, 255, 255, 0.1);
$color-white-trans2: rgba(255, 255, 255, 0.3);
$color-vlight-grey: #eeeeee;
$color-light-grey: #555555;
$color-shaded: #888888;

$color-light-blue: #C0EFD2;
$test: #E25858;
$test-dark: #FFFFDD;

$font-base: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-common: Helvetica, Arial, sans-serif;
