{% load i18n %}
{% load partition %}

<!DOCTYPE html>

<html lang="en" id="sky">
    {% include "landing/head.html" %}
<body id="sky">

{% include "landing/nav.html" %}

<div>
  <div class="container">
    <div class="row">
      <div class="info-block img-rounded content-links" id="article">
        <ol class="breadcrumb">
          <li><a title="{% trans 'dashboard' %}" href="{% url 'index' %}">{% trans "home" %}</a></li>
          <li class="active">{{target_lang.english_name}} &middot; {{target_lang.original_name}}</li>
        </ol>

        <h1>{{target_lang.english_name}} &middot; {{target_lang.original_name}}</h1>

        {% for group in articles|columns:2 %}
        <div class="col-md-6">
          {% for article in group %}
          <div class="article-short">
            <h2><a title="{{article.title}}" href="{% url 'article:article_view' article.id article.slug %}">{{article.title}}</a></h2>
            <div class="description">{{article.description}}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}

        <div style="clear: both;"></div>
        <div>
          <ul class="pager">
            {% if articles.has_previous %}
            <a href="{% url 'article:articles_view' lang_slug articles.previous_page_number %}" class="button3d button3d-small font24px"><span class="small text">{% trans "btn_previous" %}</span></a>
            {% endif %}

            {% if articles.has_next %}
            <a href="{% url 'article:articles_view' lang_slug articles.next_page_number %}" class="button3d button3d-small font24px"><span class="small text">{% trans "btn_next" %}</span></a>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

{% include "landing/footer.html" %}

{% include "forms/form-contact.html" %}
{% include "forms/form-login.html" %}
{% include "forms/form-signup.html" %}
{% include "forms/form-language.html" %}

<script src="{{STATIC_URL}}lib/jquery-1.11.2.min.js"></script>
<script src="{{STATIC_URL}}lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
