{% load i18n %}
{% load thumbnail %}
{% load partition %}

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="intro-header">
                    {% trans "landing_header1" %}
                    <span id="typed-header"></span>
                </div>
                <!-- <div id="intro-text"> -->
                <!-- {% trans "landing_header2" %} -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</header>

<!-- <div class="mastfoot">
     <div class="inner">
     <a href="#what-it-is" data-scroll class="btn-transparent"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
     </div>
     </div> -->
