{% load i18n %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="intro-header">
                    {% trans "Start studying a foreign language now" %}
                    <span id="typed-header"></span>
                </div>
                <div id="intro-text">
                    {% trans "Enjoy learning" %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}

<div class="mastfoot">
  <div class="inner">
    <a href="#what-it-is" data-scroll class="btn-transparent"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
  </div>
</div>
