{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <span id="contact-form"></span>
      <h1 class="color-white" style="font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;">{% trans "header_contact" %}</h1>
      <form action="{% url 'core:send_email' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="contact-name" name="name" placeholder="{% trans 'ph_your_name' %}">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="contact-email" name="email" placeholder="{% trans 'ph_your_email' %}">
        </div>

        <div class="form-group">
          <textarea class="form-control" rows="3" name="text" placeholder="{% trans 'ph_your_message' %}"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default btn-submit"><span class="glyphicon glyphicon-envelope"></span>{% trans "btn_send" %}</button>
        </div>
      </form>
    </div>
    <div class="col-md-8"></div>
  </div>
</div>
