{% extends "landing/base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="content-box img-rounded light-border" style="background-color: #ffffff;">
            <div class="container-fluid" style="padding: 0 40px 20px 40px;">
                <div class="row" style="text-align: left;">
                    <h2>
                        {% if error_code == 404 %}
                            {% trans "This page cannot be found, sorry" %}
                        {% elif error_code == 400 %}
                            {% trans "ERR_CODE_400_MSG" %}
                        {% elif error_code == 500 %}
                            {% trans "ERR_CODE_500_MSG" %}
                        {% else %}
                            {% trans "ERR_CODE_UNKNOWN_MSG" %}
                        {% endif %}
                    </h2>
                </div>

                <div class="row" style="text-align: left;">
                    <a href="{% url 'index' %}"><strong>{% trans "Go back to our home page" %}</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
