{% load i18n %}

<div id="intro-header" style="color: #333333;">
  <span id="typed-header">{% trans "Recover forgotten password" %}</span>
</div>

<div class="alert alert-info" role="alert">{% trans "In order to receive a new password, type your username or email address below. You should receive an email shortly." %}"</div>

<form action="{% url 'core:recover_password' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" id="modal-login-email" placeholder="{% trans 'Enter your email' %}" name="identifier">
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default btn-submit">{% trans "Send" %}
    </button>
  </div>
</form>
