{% load i18n %}

<div id="intro-header" style="color: #333333;">
  <span id="typed-header">{% trans "header_forgotten_password" %}</span>
</div>

<div class="alert alert-info" role="alert">{% trans "msg_forgotten_password" %}"</div>

<form action="{% url 'core:recover_password' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" id="modal-login-email" placeholder="{% trans 'ph_your_email' %}" name="identifier">
  </div>
  <div class="modal-footer">
      <button type="submit" class="button3d button3d-small font24px"><span class="small text">{% trans "btn_send" %}</span></button>
  </div>
</form>
