{% load thumbnail %}
{% load partition %}
{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top navbar-transparent" id="navbar-index">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-unlogged">
                <span class="sr-only">{% trans "link_toggle_nav" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-unlogged">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Language Monster" href="{% url 'index' %}">
                    <img src="{{STATIC_URL}}images/website/language_monster_2.png" alt="Language Monster" />
                </a>
                </li>
                {#% if page == 'info' %#}
                    <li class="page-scroll">
                        <a href="{% url 'index' %}">{% trans "link_index" %}</a>
                    </li>
                {#% endif %#}
                <li class="page-scroll">
                    <a id="login" href="#" data-toggle="modal" data-target="#modal-login">{% trans "link_login" %}</a>
                </li>
                <li class="page-scroll">
                    <a href="#" data-toggle="modal" data-target="#modal-signup">{% trans "link_sign_up" %}</a>
                </li>
                <li class="page-scroll">
                    <a href="#what-it-is" data-scroll>{% trans "link_what_it_is" %}</a>
                </li>
                <li class="page-scroll">
                  <a href="#" data-toggle="modal" data-target="#modal-change">
                            <div title="{{context.language.original_name}}" style="vertical-align: middle; display: inline-block;" class="{{context.language.flag_filename}}_20px img-circle">
                            </div>
                    {{ context.language.original_name }}
                    <span class="caret"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
