{% load i18n %}

<section class="links-section content-links">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="">
        <h2><a href="">How to learn Spanish?</a></h2>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet tellus finibus leo interdum eleifend. Proin at diam congue, dapibus leo at, aliquam mauris. Quisque at posuere lorem, in sodales elit. Praesent blandit a leo ut aliquet. Maecenas tristique nibh a ligula semper, sit amet pharetra purus accumsan.</div>
        <a href="http://google.com" class="button3d button3d-small font24px"><span class="small text">{% trans "btn_learn" %}</span></a>
      </div>
      <div class="col-md-6">
        <h2><a href="">How to learn French?</a></h2>

        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet tellus finibus leo interdum eleifend. Proin at diam congue, dapibus leo at, aliquam mauris. Quisque at posuere lorem, in sodales elit. Praesent blandit a leo ut aliquet. Maecenas tristique nibh a ligula semper, sit amet pharetra purus accumsan.</div>
        <a href="http://google.com" class="button3d button3d-small font24px"><span class="small text">{% trans "btn_learn" %}</span></a>
      </div>
    </div>
  </div>
</section>

<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5" style="text-align: left;">
        <div id="links-collection">
          <span class="link-item"><a title="Language Monster" href="http://language-monster.com">&copy; Language Monster</a></span>
          <span class="link-item"><a
                                    title="{% trans 'link_contact' %}"
                                    href="#"
                                    data-toggle="modal"
                                    data-target="#modal-contact"><span class="fa fa-envelope"></span></a></span>
          <span class="link-item"><a
                                    title="Language Monster - Facebook"
                                    href="https://www.facebook.com/languagemonster"
                                    ><span class="fa fa-facebook"></span></a></span>
          <span class="link-item"><a
                                    title="Language Monster - Twitter"
                                    href="https://twitter.com/lang_monster"><span class="fa fa-twitter"></span>
          </a></span>
          <span class="link-item"><a
                                    title="Language Monster - Google Plus"
                                    href="https://plus.google.com/u/0/b/108974167410387695649/108974167410387695649/"><span class="fa fa-google-plus"></span></a></span>
        </div>
      </div>
      <div class="col-md-7" style="text-align: right;">
        <span class="small-print">{% trans "msg_cookies" %}</span>
      </div>
    </div>
  </div>
</section>

