{% extends "emails/base_email.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Hello" %} {{PUBLIC_NAME}}</h1>

<p>{% trans "It seems you have trouble logging in. Let us help you. Click on the link below to set your new password." %}</p>

<p><a href="{{URL}}"><b>{% trans "Give me my new Language Monster password" %}</b></a></p>

<p>{% trans "If you can't click on the link, please copy the URL below to the browser's address bar" %}</p>

<p>{{URL}}</p>

<p>{% trans "Cheers" %}</p>
<p>{% trans "Language Monster Team" %}</p>

{% endblock content %}
