{% extends "app/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load partition %}

{% block content %}
<div>
    <div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header"></div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav main-left">
                <li><a title="{% trans 'dashboard' %}" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> {% trans "dashboard" %}</a></li>
                <li><a title="{% trans 'settings' %}" href="{% url 'core:settings' %}"><span class="glyphicon glyphicon-user"></span> {% trans "settings" %}</a></li>
                <li><a title="{% trans 'add_language' %}" href="{% url 'vocabulary:add_language' %}"><span class="glyphicon glyphicon-plus-sign"></span> {% trans "add_language" %}</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a data-toggle="modal" data-target="#modal-change" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {% if context.user.language %}
                    <img
                        class="{{context.user.language.flag_filename}}_30px flag-border img-circle"
                        style="width: 30px; height: 30px; display: inline-block;" />
                    {{ context.user.language.original_name }}
                    <span class="caret"></span>
                    {% endif %}
                  </a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {% if context.user.avatar %}
                    {% with context.urls.avatar|add:context.user.avatar as path %}
                      {% thumbnail path "30x30" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle" alt="{{context.user.public_name}}" />
                      {% endthumbnail %}
                    {% endwith %}
                    {% endif %}
                    {{context.user.public_name}}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                        <li><a title="{% trans 'profile' %}" href="{% url 'public_page' context.user.uri %}"><span class="glyphicon glyphicon-user"></span> {% trans "profile" %}</a></li>
                    <li><a title="{% trans 'settings' %}" href="{% url 'core:settings' %}"><span class="glyphicon glyphicon-wrench"></span> {% trans "settings" %}</a></li>

                    <li class="divider"></li>
                    <li><a href="{% url 'core:logout' %}"><span class="glyphicon glyphicon-off"></span> {% trans "log_out" %}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <div>
      <div class="container-fluid">
        {% block main %}
        {% endblock %}
      </div>
    </div>
</div>
{% endblock %}
