{% load i18n %}

<div style="background-color: #1B1E24; padding-top: 50px; padding-bottom: 50px;">

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                        <div class="col-md-5">
                            <div class="item"><a title="Language Monster" href="{% url 'index' %}"><img src="{{STATIC_URL}}images/website/language_monster_1.png" alt="Language Monster" /></a></div>
                            <div class="item">Language Monster</div>
                        </div>
                        <div class="col-md-4 column">
                        </div>
                        <div class="col-md-3 column">
                            <h4>{% trans "all_about_you" %}</h4>
                            <div class="item"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modal-change">{% trans "language" %}</a></div>
                            <div class="item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modal-contact">{% trans "contact_us" %}</a></div>
                            <div class="item">
                                <a title="Language Monster - Facebook" href="https://www.facebook.com/languagemonster"><span class="fa fa-facebook"></span></a>
                                &nbsp;
                                <a title="Language Monster - Twitter" href="https://twitter.com/languagemonste"><span class="fa fa-twitter"></span></a>
                                &nbsp;
                                <a title="Language Monster - Google Plus" href="https://plus.google.com/u/0/b/108974167410387695649/108974167410387695649/"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br />
                {% if context.status.debug %}
                Debug {{context.status.version}} <b>{{context.status.branch}}</b>
                {% endif %}
                <div class="small-print">
                    {% trans "msg_cookies" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include "forms/form-contact.html" %}
