{% load i18n %}

<div style="background-color: #1B1E24; padding-top: 50px; padding-bottom: 50px;">

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                        <div class="col-md-5">
                            <div class="item"><a title="Language Monster" href="{% url 'index' %}"><img src="{{STATIC_URL}}images/website/logo90.png" /></a></div>
                            <div class="item">Language Monster</div>
                            <div class="item">2016</div>
                        </div>
                        <div class="col-md-4 column">
                            <!-- <h4>{% trans "Information" %}</h4> -->
                            <!-- <div class="item"><a href="{% url 'core:static_page' 'about-us' %}">{% trans "About Us" %}</a></div> -->
                            <!-- <div class="item"><a href="{% url 'core:static_page' 'press-kit' %}">{% trans "Press Kit" %}</a></div> -->
                            <!-- <div class="item"><a href="{% url 'core:static_page' 'terms' %}">{% trans "Terms of Use" %}</a></div> -->
                            <!-- <div class="item"><a href="{% url 'core:static_page' 'privacy' %}">{% trans "Privacy Policy" %}</a></div> -->


                        </div>
                        <div class="col-md-3 column">
                            <h4>{% trans "It's all about you" %}</h4>
                            <div class="item"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modal-change">{% trans "Language" %}</a></div>
                            <div class="item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modal-contact">{% trans "Contact Us" %}</a></div>
                            <div class="item">
                                <a title="Language Monster - Facebook" href="https://www.facebook.com/languagemonster"><span class="fa fa-facebook"></span></a>
                                &nbsp;
                                <a title="Language Monster - Twitter" href="https://twitter.com/languagemonste"><span class="fa fa-twitter"></span></a>
                                &nbsp;
                                <a title="Language Monster - Google Plus" href="https://plus.google.com/u/0/b/108974167410387695649/108974167410387695649/"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br />
                {% if basic.status.debug %}
                Debug {{basic.status.version}} <b>{{basic.status.branch}}</b>
                {% endif %}
                <div class="small-print">
                    {% trans "Language Monster uses cookies. By continuing to use this website you are giving consent to cookies being used." %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include "forms/form-contact.html" %}
