{% extends "app/content.html" %}
{% load i18n %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <div id="study" class="content-box img-rounded light-border">
            <div class="container-fluid" style="padding: 0 40px 40px 40px;">
                <!-- <div class="row" style="text-align: left;"> -->
                    <div class="row" style="text-align: left;">
                        <ol class="breadcrumb">
                            <li><a title="{% trans 'dashboard' %}" href="{% url 'index' %}">{% trans "dashboard" %}</a></li>
                            <li><a title="{% trans 'languages' %}" href="{% url 'vocabulary:add_language' %}">{% trans "languages" %}</a></li>
                            <li><a href="{% url 'vocabulary:study' pair.target_language.slug %}">{% trans pair.target_language.english_name %} ({{ pair.target_language.original_name }})</a></li>
                            <li class="active">{{ dataset.name_base }} ({{dataset.name_target}})</li>
                        </ol>
                    </div>
                    <div class="row" style="text-align: left;">
                        <h2 class="margin-crumbs">
                                <div class="{{pair.target_language.flag_filename}}_24px img-circle flag-border" style="width: 24px; height: 24px; display: inline-block;"></div>
                                <div style="display: inline-block;">
                            {% trans "learning_data_set" %}: {{ dataset.name_base }} ({{dataset.name_target}})
                                </div>
                        </h2>
                    </div>
                <!-- </div> -->
                <div id="alert-browser-size" class="alert alert-warning" role="alert">
                    {% trans "msg_browser_window_too_small" %}</strong>
                </div>
                <div id="alert-no-games" class="alert alert-warning" role="alert">
                    {% trans "msg_no_games_selected" %}</strong>
                </div>
                {% csrf_token %}
                <script type="text/javascript">
                    {% if context.game %}
                        play = true;
                    {% else %}
                        play = false;
                    {% endif %}

                    {% if context.status.debug %}
                        debug = true;
                    {% else %}
                        debug = false;
                    {% endif %}

                    {% if canvas_only %}
                        canvas_only = true;
                    {% else %}
                        canvas_only = false;
                    {% endif %}

                    games = [];

                    {% for k, v in games.items %}
                        {% if v.available %}
                            games.push("{{k}}");
                        {% endif %}
                    {% endfor %}

                    if (games.length == 0)
                    {
                        play = false;
                        document.getElementById('alert-no-games').style.display = 'block';
                    }

                    games_played = [];

                    {% for g in games_played %}
                        games_played.push("{{g}}");
                    {% endfor %}

                    data = {{ data|safe }};
                    translations = {{ translations|safe }};
                </script>
                <div id="game"></div>
</div>
    </div>
        </div>
            </div>
                </div>

{% include "app/game_tuts/space.html" %}
{% include "app/game_tuts/simple.html" %}
{% include "app/game_tuts/plane.html" %}
{% include "app/game_tuts/runner.html" %}
{% include "app/game_tuts/shooter.html" %}

{% endblock %}
