{% extends "app/content.html" %}
{% load i18n %}
{% load thumbnail %}

{% block main %}

{% for msg in messages %}
  <div class="alert alert-{{msg.tags}} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{msg}}</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div class="content-box img-rounded light-border" style="background-color: #ffffff;">
            <div class="container-fluid" style="padding: 0 40px 20px 40px;">
                <div class="row" style="text-align: left;">
                    <h2>{% trans "profile" %}</h2>
                </div>

                <div class="row" role="tabpanel">
                    <div class="col-md-9">
<div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="details">
                            <form class="form-horizontal" action="{% url 'core:update_profile' %}" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                <label for="first_name" class="col-sm-2 control-label">{% trans "first_name" %}</label>
                                <div class="col-sm-5">
                                  <input name="first_name" type="text" class="form-control" id="first_name" value="{{context.user.first_name }}">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="last_name" class="col-sm-2 control-label">{% trans "last_name" %}</label>
                                <div class="col-sm-5">
                                  <input name="last_name" type="text" class="form-control" id="last_name" value="{{context.user.last_name}}">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="last_name" class="col-sm-2 control-label">{% trans "gender" %}</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="gender">
                                        <option value="">{% trans "select_gender" %}</option>
                                        {% for k, v in gender.items %}
                                            {% if k == context.user.gender %}
                                                <option selected="selected" value="{{ k }}">{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="location" class="col-sm-2 control-label">{% trans "location" %}</label>
                                <div class="col-sm-5">
                                  <input name="location" type="text" class="form-control" id="location" value="{% firstof context.user.location %}">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="country" class="col-sm-2 control-label">{% trans "country" %}</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="country">
                                        <option value="">{% trans "select_your_country" %}</option>
                                        {% for k, v in countries %}
                                            {% if k == context.user.country %}
                                                <option selected="selected" value="{{ k }}">{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="www" class="col-sm-2 control-label">{% trans "website" %}</label>
                                <div class="col-sm-5">
                                  <input name="www" type="text" class="form-control" id="www" value="{% firstof context.user.www %}">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="about" class="col-sm-2 control-label">{% trans "about_me" %}</label>
                                <div class="col-sm-5">
                                    <textarea name="about" class="form-control" rows="3">{% firstof context.user.about %}</textarea>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="submit" class="button3d button3d-small font16px"><span class="small text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "btn_save_details" %}</span></button>
                                </div>
                              </div>n
                            </form>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="email">
                            <form class="form-horizontal" action="{% url 'core:update_email' %}" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                <label class="col-sm-2 control-label">{% trans "current_email" %}</label>
                                <div class="col-sm-5">
                                  <p class="form-control-static"><strong>{{ context.user.email }}</strong></p>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">{% trans "new_email" %}</label>
                                <div class="col-sm-5">
                                  <input name="email" type="email" class="form-control" id="email" placeholder="{% trans 'new_email' %}">
                                </div>
                              </div>

                              <div class="alert alert-info" role="alert">{% trans "msg_confirmation_may_be_needed" %}</div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="submit" class="button3d button3d-small font16px"><span class="small text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "btn_update" %}</span></button>
                                </div>
                              </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="password">
                          <form class="form-horizontal" action="{% url 'core:update_password' %}" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                <label for="password0" class="col-sm-2 control-label">{% trans "current_password" %}</label>
                                <div class="col-sm-5"><input name="password0" type="password" class="form-control" id="password0" placeholder="{% trans 'current_password' %}"></div>
                              </div>
                              <div class="form-group">
                                <label for="password1" class="col-sm-2 control-label">{% trans "new_password" %}</label>
                                <div class="col-sm-5"><input name="password1" type="password" class="form-control" id="password1" placeholder="{% trans 'new_password' %}"></div>
                              </div>
                              <div class="form-group">
                                <label for="password2" class="col-sm-2 control-label">{% trans "confirm" %}</label>
                                <div class="col-sm-5"><input name="password2" type="password" class="form-control" id="password2" placeholder="{% trans 'repeat_password' %}"></div>
                              </div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="submit" class="button3d button3d-small font16px"><span class="small text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "btn_update" %}</span></button>
                                </div>
                              </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="avatar">
                          <form class="form-horizontal" action="{% url 'core:upload_image' %}" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                <div class="col-sm-12">
                                    {% load thumbnail %}
                                    {% if context.user.avatar %}
                                      {% with context.urls.avatar|add:context.user.avatar as path %}
                                        {% thumbnail path "140x140" crop="center" as im %}
                                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle" />
                                        {% endthumbnail %}
                                      {% endwith %}
                                    {% else %}
                                      {% trans "msg_no_avatar" %}
                                    {% endif %}
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-2" for="avatar-input">{% trans "msg_change_avatar" %}</label>
                                 <div class="col-sm-5">
                                    <input type="file" name="file" id="avatar-input">
                                 </div>
                              </div>

                              <div class="alert alert-info" role="alert">{% trans "msg_avatar_rules" %}</div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="submit" class="button3d button3d-small font16px"><span class="small text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "btn_upload" %}</span></button>
                                </div>
                              </div>
                            </form>
                        </div>

<div role="tabpanel" class="tab-pane" id="games">
<form class="form-horizontal" action="{% url 'core:update_profile_games' %}" method="post">
    {% csrf_token %}

    <div class="alert alert-info" role="alert">{% trans "msg_select_games_to_play" %}</div>

    <div class="row">
        {% for k, v in games.items %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            {% with context.urls.static|add:"images/marketing/games/"|add:v.image as path %}
                {% thumbnail path "220x220" as im %}
                <img src="{{ im.url }}" class="img-rounded" />
            {% endthumbnail %}
            {% endwith %}
          <div class="caption">
            <h4><strong>{{ v.name }}</strong></h4>
            <div class="form-group">
                <label>
                    <div class="checkbox">
                        {% if v.available %}
                            <input name="{{k}}" type="checkbox" checked>
                        {% else%}
                            <input name="{{k}}" type="checkbox">
                        {% endif %}
                        {% trans "available" %}
                    </div>
                </label>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
        <button type="submit" class="button3d button3d-small font16px"><span class="small text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "btn_save" %}</span></button>
    </div>
  </div>
</form>
</div>

                    </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-tabs nav-stacked" role="tablist">
                          <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">{% trans "tab_details" %}</a></li>
                          <li role="presentation"><a href="#email" aria-controls="email" role="tab" data-toggle="tab">{% trans "tab_email" %}</a></li>
                          <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">{% trans "tab_password" %}</a></li>
                          <li role="presentation"><a href="#avatar" aria-controls="avatar" role="tab" data-toggle="tab">{% trans "tab_avatar" %}</a></li>
                          <li role="presentation"><a href="#games" aria-controls="games" role="tab" data-toggle="tab">{% trans "tab_games" %}</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock main %}
