{% extends "app/content.html" %}

{% load i18n %}

{% block main %}

{% for msg in messages %}
  <div class="alert alert-{{msg.tags}} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{msg}}</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div id="study" class="content-box img-rounded light-border">
            <div class="container-fluid" style="padding: 0 40px 40px 40px;">
                <div class="row" style="text-align: left;">
                        <ol class="breadcrumb">
                            <li><a title="{% trans 'dashboard' %}" href="{% url 'index' %}">{% trans "dashboard" %}</a></li>
                            <li><a title="{% trans 'languages' %}" href="{% url 'vocabulary:add_language' %}">{% trans "languages" %}</a></li>
                            <li class="active">{% trans pair.target_language.english_name %} ({{ pair.target_language.original_name }})</li>
                        </ol>
                </div>
                <div class="row" style="text-align: left;">
                    <h2 class="margin-crumbs">
                            <div class="{{pair.target_language.flag_filename}}_24px img-circle flag-border" style="width: 24px; height: 24px; display: inline-block;"></div>
                            <div style="display: inline-block;">
                        {% trans pair.target_language.english_name %}
                         ({{ pair.target_language.original_name }})
                            </div>
                    </h2>
                </div>
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a id="btn-popular" href="#popular" aria-controls="popular" role="tab" data-toggle="tab">{% trans "dataset_most_popular" %}</a></li>
          <li role="presentation"><a id="btn-basic" href="#basic" aria-controls="basic" role="tab" data-toggle="tab">{% trans "dataset_basic" %}</a></li>
          <li role="presentation"><a id="btn-all" href="#all" aria-controls="all" role="tab" data-toggle="tab">{% trans "dataset_all" %}</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="all">
            <div class="row">
              {% with datasets_s=datasets|dictsort:"name_base" %}
              {% include "app/study_single_item.html" %}
            {% endwith %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="popular">
            <div class="row">
            {% with datasets_s=datasets|dictsortreversed:"learners"|slice:":12" %}
            {% include "app/study_single_item.html" %}
            {% endwith %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="basic">
            <div class="row">
              {% with datasets_s=basic_datasets|dictsortreversed:"date_added" %}
              {% include "app/study_single_item.html" %}
            {% endwith %}
            </div>
        </div>
      </div>
    </div>
</div>
    </div>
        </div>
            </div>
{% endblock %}
